# Supabase (Project Settings > API)
NEXT_PUBLIC_SUPABASE_URL=https://bqxebsmquqgylehijydw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XfKkOAhnsoNFEWbrWNZqlw_FO_paO33

# App URL (used later for auth redirects and emails)
NEXT_PUBLIC_APP_URL=https://your-vercel-domain.vercel.app